#instructions {
    max-width: 800px;
    font-family: "Segoe UI","Noto Sans",Helvetica,Arial;
}

#instructions table {
    border-collapse: collapse;
}

#instructions td, #instructions th {
    border: 1px solid black;
    padding: 5px;
}

#instructions h1 {
    font-size: 2em;
}



